:root {
  --main-color: #4d5ae5;
  --main-text-color: #2e2f42;
  --p-color: #434455;
  --card-buttons-color: #f4f4fd;
  --acent-color: #404bbf;
  --main-font: "Roboto", sans-serif;
  --main-white-color: #fff;
  --main-border-color: #e7e9fc;
  --footer-socials-bcg: rgba(255, 255, 255, 0.1);
  --footer-socials-bcg-hover: #31d0aa;
  --customers-color: #afb1b8;
  --form-label-color: #8e8f99;
  --form-input-border-color: rgba(33, 33, 33, 0.2);
}

body {
  font-family: var(--main-font);
  font-size: 16px;
  color: var(--p-color);
  background-color: var(--main-white-color);
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

p {
  margin: 0;
}

li {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

/* container */

.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}

/* header */

.header {
  border-bottom: 1px solid var(--main-border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  color: var(--main-text-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}

.logo-title {
  color: var(--main-color);
}

/* site-nav */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: block;
}

@media (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media (min-width: 768px) {
  .site-nav {
    display: flex;
    gap: 40px;
    margin-left: 120px;
  }
}

.address {
  margin-left: auto;
}

@media (max-width: 767px) {
  .address {
    display: none;
  }
}

.site-nav .link {
  display: block;
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--acent-color);
}

.site-nav .link.current {
  color: var(--acent-color);
}

.header-link {
  position: relative;
}

.current::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--acent-color);
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.mobile-menu {
  display: block;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
    overflow: hidden;
  }
}

.burger-menu {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  padding: 25px 0 23px 0;
}

.icon-cross {
  display: none;
}

.address-list {
  display: flex;
  gap: 40px;
}

@media (min-width: 768px) {
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media (min-width: 1200px) {
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
}

.address-list .link {
  color: var(--p-color);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list .link:hover,
.address-list .link:focus {
  color: var(--acent-color);
}

/* hero-section */
.hero {
  height: 432px;
  max-width: 100%;
  background-color: var(--main-text-color);
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-bcg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .hero {
    height: 436px;
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

.hero-title {
  text-transform: capitalize;
  text-align: center;
  max-width: 320px;
  color: var(--main-white-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
  }
}

.hero-button {
  display: flex;
  margin-top: 72px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  color: var(--main-white-color);
  background-color: var(--main-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .hero-button {
    margin-top: 36px;
  }
}

@media (min-width: 1200px) {
  .hero-button {
    margin-top: 48px;
  }
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--acent-color);
}

/* second section */
.section-aim {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media (min-width: 1200px) {
  .section-aim {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.aim-list {
  display: block;
}

@media (min-width: 768px) {
  .aim-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media (min-width: 1200px) {
  .aim-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.icon-aim-list {
  display: block;
}

@media (min-width: 1200px) {
  .icon-aim-list {
    display: flex;
    height: 112px;
    width: 264px;
    background-color: var(--card-buttons-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
}

.icon-aim {
  display: none;
}

@media (min-width: 1200px) {
  .icon-aim {
    display: block;
    height: 64px;
    width: 64px;
  }
}

.aim-item {
  margin-bottom: 72px;
  text-align: center;
}

@media (min-width: 768px) {
  .aim-item {
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 0;
    text-align: start;
  }
}

.aim-item:nth-child(4) {
  margin-bottom: 0;
}

.section-title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

@media (min-width: 1200px) {
  .section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.section-text {
  text-align: start;
  font-weight: 500;
  color: var(--p-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media (min-width: 1200px) {
  .section-text {
    font-weight: 400;
  }
}

/* Third section */

.section-wawd {
  display: none;
}

@media (min-width: 1200px) {
  .section-wawd {
    display: block;
    padding-bottom: 120px;
  }
}

.section-title-top-wawd {
  margin-bottom: 72px;
  text-align: center;
  color: var(--main-text-color);
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.how-are-we-doing-list {
  display: flex;
  gap: 24px;
}

/* 4 section */

.section-team {
  background-color: var(--card-buttons-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-title-top-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 72px;
}

.people-cards {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media (min-width: 768px) {
  .people-cards {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
}

.cards-list {
  margin: 0 auto;
  width: 264px;
  text-align: center;
  background-color: var(--main-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%),
    0px 2px 1px rgb(46 47 66 / 8%);
}
.card-item {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.section-title-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}

.section-text-team {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--p-color);
}

.socials-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}

.socials-item {
  height: 40px;
  width: 40px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--acent-color);
}

.socials-icon {
  height: 16px;
  width: 16px;
  fill: var(--card-buttons-color);
}

/* mobile menu */

.js-menu-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.mobile-menu-modal {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-white-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-modal.is-open {
  transform: translateX(0);
}

.mobile-menu-button {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 8px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(46, 47, 66, 0.5);
  background-color: rgba(231, 233, 252, 0.5);
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-button:hover,
.mobile-menu-button:focus {
  background-color: var(--acent-color);
  fill: var(--main-white-color);
}

.socials-mobile {
  fill: var(--card-buttons-color);
}

.mobile-nav {
  margin-top: 80px;
  margin-left: 40px;
}

.mobile-nav-list:nth-child(3) {
  margin-bottom: 0;
}

.mobile-nav-list {
  margin-bottom: 40px;
}

.mobile-nav .link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav .link:hover,
.mobile-nav .link:focus {
  color: var(--acent-color);
}

.address-mobile {
  margin-left: 40px;
  margin-top: 284px;
}

.address-mobile-item {
  margin-top: 40px;
}

.phone-numb {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
}

.mail-address {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--p-color);
}

.socials-list-mobile {
  display: flex;
  gap: 56px;
  justify-content: center;
  padding-top: 48px;
  padding-bottom: 40px;
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 584px;
  width: 408px;
  background-color: var(--main-white-color);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px;
}

.modal-close {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--main-border-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--acent-color);
  fill: var(--main-white-color);
}

.modal-close-btn {
  width: 8px;
  height: 8px;
}

.modal-title {
  text-align: center;
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.form {
  margin-top: 16px;
}

.form-group {
  margin-bottom: 16px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  position: relative;
}

.form-wrapper-comment {
  display: flex;
  flex-direction: column;
}

.form-label-name {
  margin-bottom: 4px;
  color: var(--form-label-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-label {
  margin-bottom: 4px;
  color: var(--form-label-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-input {
  height: 40px;
  padding: 11px 38px;
  border: 1px solid var(--form-input-border-color);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  width: 360px;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid var(--form-input-border-color);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  border-color: var(--main-color);
}

.privacy-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--form-label-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-icons {
  position: absolute;
  top: 54%;
  left: 5%;
  fill: var(--main-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--main-color);
}

.form-input:focus ~ .form-icons {
  fill: var(--main-color);
}

.privasy-wrapper {
  margin-bottom: 24px;
}

.checkbox {
  appearance: none;
}

.privacy-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--main-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .privacy-icon {
  border-color: var(--acent-color);
  background-color: var(--acent-color);
  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.send-button {
  display: flex;
  width: 169px;
  height: 56px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: var(--main-white-color);
  background-color: var(--main-color);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
  background-color: var(--acent-color);
}
